#simple_input_dialog{:title => "Salor Dialog", :class => "salor-dialog hidden"}
  %label{ :for => "input", :class => "input_label" }
  %input{ :type=>"password", :name=>"input", :id=> "dialog_input", :class=>"text ui-widget-content ui-corner-all"}
  %p.validateTips