<div class="widget master">
    <a href="<%= path %>">
      <img src="/images/icons/<%= image %>" /><br />
      <%= raw text %>
    </a> <br />
          <%= link_to image_tag('/images/icons/' + icon(:delete,16)), del_path, :confirm => 'Are you sure?', :method => :delete %>
</div>
