<div class="edit-delete-row" align="right">
  <div class="edit" onmousedown="window.location = '<%= edit_link %>';">
    <%= I18n.t("menu.edit") %>
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="delete">
          <%= link_to(I18n.t("menu.delete"), delete_link, :confirm => 'Are you sure?', :method => :delete) %>
  </div>
</div>
