<% if salor_signed_in? %>
<div id="logged_in">
     <table align="center" width="100%">
       <tr>
         <td valign="top">
            <%= t "system.logged_in_as"%> <%= @current_user.username %>. <%= t "system.not_you"%>
            <%= link_to t("system.logout"), @current_user.is_user? ? destroy_user_session_path : destroy_user_session_path %>
         </td>
         <td valign="top">
           <div id="switcher"></div>
         </td>
       </tr>
     </table>
</div>
<% end %>
