<script>
  <%= render :partial => '/shared/messagesjs.js' %>
</script>

<div id="messages" onclick='$(this).hide();'>
  <div id="notices"></div>
  <div id="alerts"></div>
  <div id="prompts"></div>
</div>