<div id="complete_order_popup" style="display:none;">
  <table class="content-table" width="90%" height="98%" align="center">
    <tr>
      <td valign="top"  class="left" width="20%"> &nbsp;</td>
      <td valign="top"  class="right">
        <table align="right" width="99%">
          <tr>
            <td id="add_payment_method_button" onclick="completeOrderAddPaymentMethod()"><%= I18n.t("system.add_payment_method") %></td>
            <td valign="middle"  id="complete_order_total" class="complete-order-total">
             
            </td>
            <td valign="middle"  id="complete_order_change" class="complete-order-change">
            
            </td>
          </tr>
        </table>
        <br />
        <table id="payment_method_list" align="right" width="99%">
        
        </table>
      </td>
    </tr>
  </table>
</div>
<script type="text/template" id="payment_method_template">
      <tr>
        <td width="20%" align="right" valign="middle"  id="" class=""><select id="payment_method_select_{{= pm.internal_type }}" name="payment_methods[{{= i }}][internal_type]" class="payment-method-select">{{=options}}</select></td>
        <td align="left" valign="middle"  id="" class=""><input type="text" name="payment_methods[{{= i }}][name]" class="keyboardable-int payment-method-input" /></td>
      </tr>
</script>