<div class='rebate'>
  <p><b>#<span class="order-id"><%= order.id %></span></b></p>
  <%= edit_me(:rebate,order,order.rebate,'','pos_order_rebate','true') %>
  <%= edit_me(:rebate_type,order,order.rebate_type_display,'','pos_order_rebate_type',true) %>
  <%= edit_me(:tag,order,order.tag,'','pos_order_tag','true') %>
</div>
