%td
  .tool-icon{ :style=>'width:100px' }
    .salor-icon
      %a{:href => href}
        %img{:src => icon_url, :onclick => mouseclick, :height => '32'}
    %br
    .icon-caption=caption[ I18n.locale ]