= raw content_box_top(t("views.upload_items"))

%img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }

= form_tag '/items/upload', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td{:colspan => 3}
        %h2 Format: Salor
    %tr
      %td
        = label_tag 'CSV'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}