*.*~
*.swo
#.*
#*#
*.#
*.sql
*.css
*.swp
*.escpos
*.xcf
*~
*.deb
salor-retail/tmp/sass-cache
salor-retail/tests/.cache
salor-retail/tests/.IchabodCookieJar
salor-retail/tmp/pids
salor-retail/tmp/cache
salor-retail/tmp/capybara
salor-retail/tmp/sockets
salor-retail/public/uploads/*
salor-retail/vendor/bundle
salor-retail/vendor/plugins
salor-retail/.bundle
salor-retail/tmp
salor-retail/app/assets/images/customer_screen.jpg
*.log
*.bill
.sass-cache
*.swn
*.swm
*.kate-swp
sha1-signatures.txt
*.tar.bz2
debian/salor-retail
debian/files
*.debhelper
*.substvars
salor-retail/config/database.yml
salor-retail/public/barcodes/*.eps
salor-retail/public/barcodes/*.png
salor-retail/log/
ichabod
