*.*~
*.swo
#.*
#*#

*.#
*.sql
*.css
*.swp
*.escpos
*.xcf
*~
*.deb
salor-retail/tmp/sass-cache
salor-retail/tmp/pids
salor-retail/tmp/cache
salor-retail/tmp/capybara
salor-retail/tmp/sockets
salor-retail/public/uploads/*
salor-retail/vendor/bundle
salor-retail/vendor/plugins
salor-retail/.bundle
*.log
*.bill
.sass-cache
*.swn
*.swm
*.kate-swp
sha1-signatures.txt
*.tar.bz2
Gemfile.lock
debian/salor-retail
debian/files
*.debhelper
*.substvars
salor-hospitality/config/database.yml
public/images/barcodes/*
