=raw content_box_top(t "menu.customers")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => { :klass => Customer, :width => '60%',:collection => @customers, :columns => [:full_name,:telephone]}
