%h2= t('activerecord.models.sale_type.other')

= link_to (t :new), new_sale_type_path, :class => 'links'

%table
  - @sale_types.each do |s|
    %tr
      %td= link_to s.name, edit_sale_type_path(s)
      %td= link_to image_tag('button_small_delete.png', :title => SaleType.human_attribute_name(:hidden), :alt => SaleType.human_attribute_name(:hidden)), country_path(s), :method => :delete, :confirm => t(:are_you_sure)