=raw content_box_top(t "menu.shipment_types")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => { :klass => ShipmentType,  :width => '60%',:collection => @shipment_types, :columns => [:name]}
