=raw content_box_top(t "menu.users")
= render :partial => 'shared/list_view', :locals => {  :klass => User, :width => '60%',:collection => @users, :columns => [:username,:cellphone,:telephone,:drawer_username]}
