<div class="dt-tags hidden">
  <div class="generic-button dt-tag-button" value="None" >
    None
  </div>
  <% @current_vendor.transaction_tags.visible.each do |tag| %>
    <div class="generic-button dt-tag-button" value="<%= tag.name %>" >
      <%= tag.name %>
    </div>
  <% end %>
</div>
