:javascript
  $(function () {
    $("#documentation_iframe").css({width: '100%', height: $(window).height() * 0.8 });
  });
.center
  %iframe{ :id => "documentation_iframe",:src => "http://documentation.thebigrede.net/retail" }