<style type="text/css">
.buttons {
}
.button {
}
</style>
<script type="text/javascript">
var categories = [];
function make_button(button) {
  var btn = $("<div id='button-" + button["id"]+ "'></div");
  btn.addClass("item-button");
  btn.addClass("image-button generic-button");
  if (button['is_buyback']) {
    btn.addClass('pos-highlight');
  }
  btn.html(button['name']);
  btn.mousedown(function (event) {
            $(this).append(
                $("<img src='/images/loading.gif' id='button-loading' height='20px'/>")                
             );
            $('#button-loading').css({position: 'absolute', left: $(this).position().left + 40, top: $(this).position().top + 40});
            get('/orders/add_item_ajax?no_inc=true&order_id='+$('.order-id').html()+'&sku=' + button['sku'],'_buttons.html.erb:<%= __LINE__ %>',
                function () {
                  $('#button-loading').remove();
                  $('.buttons').hide();
                });
            });
  return btn;
}
function make_category(cat) {
  var menu = $("div.buttons > div.general-form > div.form-menu");
  var container = $("div.buttons > div.general-form > div.tab-container");
  var id = cat.replace(/[^a-zA-Z]+/g,'');
  menu.append($("<div class='link' style='height: 50px;' href='#" + id + "'>"  + cat + "</div>"));
  container.prepend( $("<div id='" + id + "' class='general-form-container form-container'></div>"));
  categories.push(cat);
}
function buttons_tabs() {
  $('div.buttons div.general-form div.tab-container div.form-container').hide();
      $('div.buttons > div.general-form > div.form-menu .link').mousedown(function () {
          $('div.buttons div.general-form div.tab-container div.form-container').hide();
          $('div.buttons > div.general-form > div.form-menu .active').removeClass('active');
          $(this).addClass('active');
          $($(this).attr('href')).show();
      });
  $('div.buttons > div.general-form > div.form-menu').find(".link:first").trigger("mousedown");
}
$(function () {
	$.getJSON('/buttons', function (data) {
          for (i in data) { 
                if ( categories.indexOf(data[i].category) == -1) {
                make_category(data[i].category);
              }
              $("#" + data[i]['category'].replace(/[^a-zA-Z]+/g,'')).append(make_button(data[i]));
	          }
	          buttons_tabs();
	 });
});

</script>
<div class="buttons hidden">
  <div class="general-form" >
    <div class="form-menu">
    
      </div> <!-- end form-menu -->
      <div class="tab-container">
        <div class="button-row" align="right" width="100%" style="position: relative; bottom: 10px; right: 10px;">
            <div id="hide_buttons" class="generic-button-cool" onmousedown="$('.buttons').hide()"><%= I18n.t("menu.done") %></div>
        </div>
      </div>
  </div> <!-- end general-form -->
   
</div>
