<div class="dt-tags hidden">
      <div class="generic-button dt-tag-button" value="None" >
            None
        </div>
      <% TransactionTag.scopied.each do |tag| %>
        <div class="generic-button dt-tag-button" value="<%= tag.name %>" >
            <% if tag.logo_image then  %>
              <img src="/transaction_tags/<%= tag.id  %>/logo" />
            <% else  %>
              <%= tag.name %>
            <% end %>
        </div>
      <% end %>
</div>
