<script type="text/javascript">
function showNotice() {
  $('.notice').fadeIn();
  $('.notice').mousedown(function () {
      $(this).hide();
  });
}
function hideNotice() {
  $('.notice').fadeOut();
}
function initNotice() {
  setTimeout (showNotice,500);
  setTimeout (hideNotice,4000);
  if (typeof Salor != 'undefined'){ Salor.playSound('notice');}
}
<%
  if not flash[:notice].blank? or not params[:notice].blank? then
%>
$(function () {
    try {
      initNotice();
    } catch (err) {
          txt="There was an error on this page _notice.\n\n";
          txt+="Error description: " + err.description + "\n\n";
          txt+="Click OK to continue.\n\n";
          alert(txt);
    }
});
<% end %>
</script>
<div id="notice" class="corner-all notice hidden">
<blockquote class="obtuse notice-container">
<%
  if not flash[:notice].blank? or not params[:notice].blank? then
%>
  <%= flash[:notice] %>
  <%= params[:notice] %>
  <% GlobalErrors.flush %>
<% end %>
</blockquote>
</div>

