<%
  if @order.refunded then
    reverse = "/images/icons/#{icon(:refund,32)}"
  else
    reverse = "/images/icons/#{icon(:refunded,32)}"
  end
%>
<table align="center">
  <tr>
      <td valign="top">
        <%  if GlobalData.salor_user.can(:edit_orders) then %>
          <%= @order.refunded? ? link_to(salor_icon(:refunded,{},32),'/orders/refund_order?id=' + @order.id.to_s) : link_to(salor_icon(:refund,{},32),'/orders/refund_order?id=' + @order.id.to_s) %>
        <% end %>
      </td>
    <td valign="top">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td valign="top">
      <%= link_to(image_tag('icons/' + icon(:add,32)),new_order_path) %>
    </td>
    <td>
      &nbsp; &nbsp;<%= salor_icon(:printer,{:style => "cursor:pointer;", :onclick => "print_order('#{@order.id }');"},32) %>
    </td>
  </tr>
</table>
