Source: salor-retail
Section: ruby
Priority: extra
Maintainer: Michael Franzl <office@michaelfranzl.com>
Build-Depends: debhelper (>= 8.0.0), po-debconf
Standards-Version: 3.9.3
Homepage: http://thebigrede.net
#Vcs-Git: git@github.com:jasonknight/salor-retail.git
#Vcs-Browser: https://github.com/jasonknight/salor-retail

Package: salor-retail
Architecture: all
Pre-Depends: dbconfig-common
Depends: ${misc:Depends}, debconf, mysql-server, beep, barcode, udev, ruby | ruby-interpreter, libruby1.9.1, ruby1.9.1-dev, rails3, rake, ruby-rack, ruby-mysql2, ruby-kramdown, ruby-jquery-rails, ruby-haml, ruby-sass, ruby-sass-rails, ruby-coffee-rails, ruby-rmagick, ruby-uglifier, ruby-nokogiri, ruby-mechanize, ruby-json, ruby-escper, ruby-kaminari, libv8-dev
Suggests: vim, apt-show-versions, remotesupport, salor-bin, exim4, isc-dhcp-server, expect, ssh, x11vnc, bind9, salor-helper, salor-tailor, apache2, libapache2-mod-passenger
Description: Innovative Point of Sale Solution serving the Retail Industry
 More description here.