=raw content_box_top(t "menu.categories")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => {  :klass => Category, :width => '60%',:collection => @categories, :columns => [:name]}
