=raw content_box_top(t "menu.transaction_tags")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => {  :klass => TransactionTag, :width => '60%',:collection => @transaction_tags, :columns => [:name]}
