= raw content_box_top(t "menu.broken_items")
= render :partial => 'shared/list_view', :locals => { :klass => BrokenItem, :width => '60%',:collection => @broken_items, :columns => [:name,:sku,:quantity,:price]}
