.square-button= link_to_add_fields(I18n.t('views.single_words.new'),form,:item_shippers,"sr.fn.items.addItemShipperFields")
#item_shippers_hook
= form.fields_for(:item_shippers, form.object.item_shippers.visible) do |item_shipper|
  = render "item_shipper_fields", :f => item_shipper