<script type="text/javascript">
	function updateCams() {
	  $('img.camera').each(function () {
	       var date = new Date()
	      $(this).attr('src','/images/cameras/camera-0.png?v=' + date.getTime()) ;            
	    });
      setTimeout("updateCams()",8000);
    }
    setInterval(updateCams,8000);
</script>
<table id="spy-table" style="width: 300px;" align="center">
<tr>
  <th>  Camera 0 </th>
</tr>
  <tr>
    <td width="300px">
      <div class="camera">
        <img onclick="updateCams();" src="/images/cameras/camera-0.png" id="camera-0" class="camera" style="width: 90%;"/>
      </div>
    </td>
  </tr>
</table>
