=raw content_box_top(t "menu.actions")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => {  :klass => Action, :width => '60%',:collection => @actions, :columns => [:name, :sku,:whento, :behavior]}
