- item = ShipmentItem.new if item.nil?
.shipment-item{:data => {:id => item.id, :sku => item.sku}}
  .row
    .column
      %input{:name => "name", :value => item.name}
    .column
      %input{:name => "sku", :value => item.sku, :onblur => "fetchShipmentItem(this);"}
    .column
      %input{:name => "quantity", :value => item.quantity}
    .column
      %input{:name => "purchase_price", :value => item.purchase_price}
    .column
      .delete-button
        = I18n.t("menu.delete")
      .update-button
        = I18n.t("menu.update")

  
  
