= javascript_include_tag 'shipments.js'
= javascript_include_tag "locales/salor.#{@locale}.js"
:javascript
  var database = { shipments: #{raw @shipments.to_json}};
  $(function () { shipments.draw.shipments(database.shipments)});
  
%div#shipments_container