=raw content_box_top("History")
- width ||= "90%"
= render :partial => 'shared/list_view', :locals => {  :klass => History, :width => '60%',:collection => @histories, :columns => [:url,:action_taken, :changes_made,:user_type,:user_id]}
