<br />
<br />
<br />
<br />
<div style="width: 99%;" align="center">
  <%= content_tag 'h1', I18n.t("system.errors.payment_required") %>

<div style="width: 550px;" align="left"><%= I18n.t("system.errors.payment_required_explanation") %></div>
</div>
