###
This file is commercial software. You may not use any part of it for any reason
without express written permission from the copyright holder.
Copyright 2012-2013 Red E Tools LLC

Additional Paylife specific functions are defined in assets/javascripts/orders.js due
to coffee's difficulties with the global object Salor
###
if typeof Conf  == 'undefined' then Conf = {}
#
window.paylifeCompleteOrder = ->
  complete_order_send(true)
#
window.paylifeMain = ->
  paylifeRemove()
  button = $('<div id="paylife_button"></div>');
  button.append($("<img id='paylife_logo' src='<%= asset_path('paylife.png')%>' />"));
  $('#complete_order_plugin_panel').append(button);
  button.mousedown ->
    paylifeSendAmount()
window.paylifeRemove = ->
  $('#paylife_button').remove()
window.paylifeDataRead = (str) ->
  alert "Received: " + str
  parts = /([\w]+) ([\w]+) (.*)/.exec(str)
  return if parts is null
  if (parts[1] == "PAID")
    if (parts[2] != $('.order-id').text())
      notify_user window.I18n.t("paylife.headings.error"),window.I18n.t("paylife.explain.nr_doesnt_match"), paylifeCompleteOrder
      return
    else
      parts = /([\w]+) ([\w]+) ([\d\,\.]+) (.*)/.exec(str)
      complete_order_send(true)
      window.paylifePoleWrite(parts[4]) # please format me in orders.js function
      $('.general-dialog').hide();
      return
  if (parts[1] == "FAIL")
    if (parts[3].indexOf("*") isnt -1)
      okfunc = paylifeSendAmount
    else
      okfunc = null
    notify_user "Failure",parts[3],okfunc
  if (parts[1] == "ERROR")
    if (parts[2].indexOf("NoResult") isnt -1)
      notify_user window.I18n.t("paylife.headings.NoResult"),window.I18n.t("paylife.explain.NoResult"), paylifeCompleteOrderSend
    if (parts[1].indexOf("B-KASSE??") isnt -1)
      notify_user window.I18n.t("paylife.headings.b_kasse"), window.I18n.t("paylife.explain.b_kasse")

paylifeSendAmount = ->
  window.paylifeWriteData("PAY " + $('.order-id').text() + " " + window.getByCardAmount()) 
  notify_user(window.I18n.t("paylife.headings.sending"),"")
paylifeEodButton = ->
  button = $("<div id='paylife_eod_button'></div>")
  button.append($("<img id='paylife_logo' src='<%= asset_path('paylife.png')%>' />"));
  button.mousedown ->
    window.paylifeWriteData()
$ ->
  # These are plugin events for js, they are home brewed.
  # see complete_order_show for how to trigger them.
  $('body').on "CompleteOrderShow", paylifeMain
  $('body').on "CompleteOrderHide", paylifeRemove
  $('body').on "CuteCreditEODNeeded",paylifeEodButton
  return

