= raw content_box_top(t "menu.shippers")

.tools
  .tool-icon
    %span= salor_icon(:shipper, {:style => "cursor:pointer;", :onclick => "sr.fn.shippers.showConfirmationDialog();"}, 32, I18n.t("menu.wholesaler_update"))
    
        
= render :partial => 'shared/list_view', :locals => { :klass => Shipper,  :width => '60%',:collection => @shippers, :columns => [:name]}