= raw content_box_top(t "menu.shippers")

.tools
  .tool-icon
    %span= salor_icon(:shipper, {:style => "cursor:pointer;", :onclick => "window.location = '/shippers/update_wholesaler'; $('#progress').show();"}, 32, I18n.t("menu.wholesaler_update"))
    %img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }
    
        
= render :partial => 'shared/list_view', :locals => { :klass => Shipper,  :width => '60%',:collection => @shippers, :columns => [:name]}