.header-page-one
  - if Vendor.find_by_id(GlobalData.salor_user.meta.vendor_id).logo_image
    %img.vendorlogo.floatright{ :src => "/vendors/#{ GlobalData.salor_user.meta.vendor_id }/logo_invoice" }
  
  .clear
  
  .company_data.floatright= raw Kramdown::Document.new(@vendor.salor_configuration.invoice_blurb).to_html
      
  .clear