<% if GlobalErrors.any? or GlobalErrors.any_fatal? %>
  $('.notice-container').html('');
  <% GlobalErrors.get_errors.each do |error| %>
    var error = $('<div class="error"><%= error[1] %></div><br />');
    $('.notice-container').append(error);
  <% end %>
  initNotice();
  <% GlobalErrors.flush  %>
<% end %>
