</script>
<section id="revenue" class="report">
  <header class="report" style="width:100%">Revenue</header>
  <table width="100%">
    <thead>
      <tr>
        <th colspan="2">&nbsp;</th><th colspan="2">Revenue</th><th colspan="2">Shipment</th><th colspan="2">Total</th><th>&nbsp;</th>
      </tr>
      <tr>
        <th>Category</th><th>VAT</th><th>Gross</th><th>Net</th><th>Gross</th><th>Net</th><th>Gross</th><th>Net</th><th>%</th>
      </tr>
    </thead>
  </table>
</section>

<section id="payouts" class="report">
  <header class="report">Payouts</header>
  <table width="100%">
    <thead>
      <tr>
        <th colspan="2">&nbsp;</th><th colspan="2">Revenue</th><th colspan="2">Shipment</th><th colspan="2">Total</th><th>&nbsp;</th>
      </tr>
      <tr>
        <th>Category</th><th>VAT</th><th>Gross</th><th>Net</th><th>Gross</th><th>Net</th><th>Gross</th><th>Net</th><th>%</th>
      </tr>
    </thead>
  </table>
</section>

<section id="tax_profiles" class="report">
  <header class="report">Turnover/Revenue by VAT/TaxProfiles</header>
  <table width="100%">
    <thead>
      <tr>
        <th>&nbsp;</th><th colspan="3">Cash</th><th colspan="3">Card</th><th colspan="3">Shipment</th>
      </tr>
      <tr>
        <th>Profile</th><th>Gross</th><th>Tax</th><th>Net</th><th>Gross</th><th>Tax</th><th>Net</th><th>Gross</th><th>Tax</th><th>Net</th>
      </tr>
    </thead>
  </table>
</section>

<section id="totals" class="report">
  <table class="report">
    <thead>
      <tr>
        <th>Profile</th><th>Gross&nbsp;Total</th><th>Tax&nbsp;Total</th><th>Net&nbsp;Total</th>
      </tr>
    </thead>
  </table>
</section>
